/* ------- General (All Pages) ------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --bodyBgColor: #f1f1f1;
    --divBgColor: #fbfbfb;
    --fontColor: #0a1b36;
    --iconColor: #185ADB;
    --borderLeftColor: #185ADB;
    --borderRightColor: #FFC947;
    --aHoverColor: #2e5086;
}

body {
    background-color: var(--bodyBgColor);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin-right: 1rem;
}

ul li:last-child {
    margin-right: 0rem;
    background-color: var(--divBgColor);
    border-radius: 8px;
}

ul li:last-child a {
    color: var(--fontColor);
}

a {
    color: var(--divBgColor);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: color 500ms;
}

a:hover {
    text-decoration: none;
    color: var(--bodyBgColor);
}

/* ------- Navbar (All Pages) ------- */

#Navbar{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 0;
    z-index: 500;
    box-shadow: 0px 0px 3px var(--fontColor);
    background-color: var(--fontColor);
}

#Navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Navbar .container .logoBox {
    width: calc(100% / 2);
    padding: .15rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#Navbar .container .linkBox {
    width: calc(100% / 2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: .3rem 0;
}

/* +++++++++ logo +++++++++ */

#Navbar .container .logoBox #logoAncor{
    font-size: 20px;
}

#Navbar .container .logoBox h1 {
    margin: 0;
    color: var(--bodyBgColor);
    font-weight: 700;
}

#Navbar .container .logoBox #menu {
    background-color: var(--bodyBgColor);
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoBox #menu span {
    background-color: var(--fontColor);
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
}

.logoBox #menu span:last-child {
    margin-bottom: 0px;
}

/* +++++++++ links +++++++++ */

#Navbar .container .linkBox ul {
    margin: 0;
}

.linkBox ul li {
    padding: .65rem .5rem;
}

/* +++++++++ media +++++++++ */

@media screen and (max-width: 520px) {
    #Navbar .container {
        flex-direction: column;
    }
    #Navbar .container .logoBox {
        width: calc(100% / 1);
    }
    #Navbar .container .linkBox {
        display: none;
        width: calc(100% / 1);
        justify-content: center;
        margin-top: 1rem;
    }
    #Navbar .container .logoBox #menu {
        display: flex;
    }
}

@media screen and (max-width: 230px) {
    #Navbar .container .linkBox ul li {
        display: block;
        margin: 0;
    }
    #Navbar .container .linkBox ul li:last-child {
        margin-top: 1rem;
    }
}

/* ------- Body ( index page ) ------- */

#Landing {
    height: calc(100vh - 51px);
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Landing .caption {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--fontColor);
    width: 50%;
    margin: 0 .5rem;
}

#Landing .caption h2 {
    color: var(--fontColor);
    margin-bottom: 1.5rem;
}

#Landing .caption p {
    margin: 0;
    color: var(--fontColor);
}

/* ++++++ media ++++++ */

@media screen and (max-width: 767px) {
    #Landing .caption {
        width: 75%;
    }
}

@media screen and (max-width: 430px) {
    #Landing .caption {
        width: 100%;
        padding: .5rem;
    }
}

@media screen and (max-width: 330px) {
    #Landing .caption h2 {
        margin-bottom: .5rem;
    }
    #Landing .caption p {
        font-size: 14px;
    }
}

/* ------- footer (All Pages) ------- */

footer {
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px var(--fontColor);
    background-color: var(--fontColor);
}

footer h6{
    color: var(--divBgColor);
    margin: 0;
    font-weight: 400;
}

footer h6 i {
    font-size: 1rem;
    color: rgb(250, 17, 17);
    animation-name: Heart;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes Heart {
    0% {
        font-size: 1rem;
    }
    25% {
        font-size: .9rem;
    }
    50% {
        font-size: .8rem;
    }
    75% {
        font-size: .9rem;
    }
    100% {
        font-size: 1rem;
    }
}

/* signin page */

#signInLanding {
    height: calc(100vh - 51px);
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signInLanding .form {    
    display: block;
    margin: auto;
    width: 65%;
}

@media screen and (max-width: 520px) {
    #signInLanding .form {
        width: 75%;
    }
}

@media screen and (max-width: 330px) {
    #signInLanding .form {
        width: 85%;
    }
}

/* signUp page */

#signUpLanding {
    height: calc(100vh - 51px);
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpLanding .form { 
    display: block;
    margin: auto;
    width: 65%;
}

@media screen and (max-width: 520px) {
    #signUpLanding .form {
        width: 75%;
    }
}

@media screen and (max-width: 330px) {
    #signUpLanding .form {
        width: 85%;
    }
}

/* Home page */

#homePageLanding {
    height: calc(100vh - 51px);
    padding-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* leftSide */

#homePageLanding .leftSide {
    background-color: hsla(0, 0%, 73%, 0.568);
    height: 100%;
    width: 20%;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* 1 */

.leftSide #personalInfo {
    padding: .5rem;
    width: 100%;
    height: calc( (100% / 4) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

#personalInfo .image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: .5rem;
}

#personalInfo .image img {
    width: 100%;
    border-radius: 50%;
}

#personalInfo .FullName {
    width: 100%;
    text-align: center;
}

#personalInfo .FullName h6 {
    margin: 0;
    color: var(--fontColor);
}

/* 2 */

.leftSide #oldTasks {
    width: 100%;
    height: calc( (100% / 4) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fbfbfb;
    border-radius: 5px;
    cursor: pointer;
}

#oldTasks p,
#oldTasks i {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--fontColor);
}

#oldTasks i{
    display: none;
}

/* 3 */

.leftSide #newTasks {
    width: 100%;
    height: calc( (100% / 4) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fbfbfb;
    border-radius: 5px;
    cursor: pointer;
}

#newTasks p,
#newTasks i {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--fontColor);
}

#newTasks i{
    display: none;
}

/* 4 */

.leftSide #dateBox {
    width: 100%;
    height: calc( (100% / 4) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fbfbfb;
    border-radius: 5px;
}

#dateBox p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--fontColor);
    margin-bottom: .2rem;
}

#dateBox p:last-child {
    margin-bottom: 0rem;
}

/* media leftSide */

@media screen and (max-width: 520px) {
    #homePageLanding .leftSide {
        width: 50px;
    }
    .leftSide #personalInfo,
    .leftSide #oldTasks,
    .leftSide #newTasks,
    .leftSide #dateBox {
        border: none;
    }
    #personalInfo .image,
    #personalInfo .image img {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }
    #personalInfo .FullName {
        display: none;
    }
    .leftSide #oldTasks p,
    .leftSide #newTasks p,
    .leftSide #dateBox p {
        font-size: .8rem;
    }
    #newTasks p,
    #oldTasks p {
        display: none;
    }
    #newTasks i,
    #oldTasks i {
        display: block;
    }
}

/* rightSide */

#homePageLanding .rightSide {
    height: 100%;
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#homePageLanding .rightSide .mainTask {
    background-color: #fff;
    width: 32%;
    margin: .3rem;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
}

.rightSide .mainTask .topBox {
    background-color: var(--bodyBgColor);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
    border-bottom: 4px double var(--fontColor);
}

.mainTask .topBox p {
    margin: 0;
    font-size: 1.1rem;
    color: var(--fontColor);
    font-weight: 500;
}

.mainTask .tasksBox {
    padding: .5rem 0;
}

.mainTask .tasksBox .task {
    background-color: rgba(204, 204, 204, 0.247);
    margin-bottom: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasksBox .task input{
    margin-right: 1rem;
}

.mainTask .tasksBox .task:last-child{
    margin-bottom: 0rem;
}

.tasksBox .task p {
    margin: 0;
}

.mainTask .inputBox {
    padding: 0 1rem;
    margin: 1rem 0 .5rem 0;
    display: none;
}

.mainTask .inputBox input {
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #1859dba8;
}

::placeholder {
    color: #fff;
    font-weight: 400;
}

.mainTask .toolBox {
    background-color: var(--bodyBgColor);
    padding: .6rem;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTask .toolBox i {
    margin-right: 1.5rem ;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 400ms;
}

.mainTask .toolBox i:hover {
    transform: scale(1.1,1.1);
}

.mainTask .toolBox i:last-child {
    margin-right: 0rem ;
}

.mainTask .toolBox i:nth-child(1){
    color: var(--iconColor);
}

.mainTask .toolBox i:nth-child(2){
    color: var(--borderRightColor);    
}

.mainTask .toolBox i:nth-child(3){
    color: red;
}

/* media rightSide */

@media screen and (max-width: 1000px) {
    #homePageLanding .rightSide {
        flex-wrap: wrap;
    }
    #homePageLanding .rightSide .mainTask {
        width: 48%;
    }
}

@media screen and (max-width: 700px) {
    #homePageLanding .rightSide .mainTask {
        width: 80%;
    }
}

@media screen and (max-width: 520px) {
    #homePageLanding .rightSide {
        width: calc(100% - 50px);
        padding: 1rem;
    }
    #homePageLanding .rightSide .mainTask {
        width: 100%;
    }
}
